<div class="container" style="margin:100px">
    <div class="row justify-content-around">
        <div class="col-4 text-center">
            <h5>Are you a merchant?</h5>
            <br>
            <img src="https://icon-library.com/images/merchant-icon/merchant-icon-6.jpg" width="150">
            <br><br>
            <a class="btn btn-outline-primary" routerLink="merchant">Merchant Login</a>
        </div>
        <div class="col-6 text-center">
            <h5>Are you a customer?</h5>
            <br>
            <img src="https://cdn-icons-png.flaticon.com/512/1169/1169924.png" width="150">
            <br><br>
            <a class="btn btn-outline-primary" routerLink="shop">Buyer Login</a>
        </div>
    </div>
</div>